#### Q76. Write a Python program to find the factorial of a given number.

In [4]:
import math
print(math.factorial(5))

120

#### Q77. Write a Python program to calculate the simple interest. Formula to calculate simple interest is SI = (P*R*T)/100

In [7]:
p=int(input())
r=int(input())
t=int(input())
si=(p*r*t)/100
print(si)

5
8
9
3.6

#### Q78. Write a Python program to calculate the compound interest. Formula of compound interest is A = P(1+ R/100)^t.

In [9]:
p=float(input())
r=float(input())
t=float(input())
a= p * (pow((1 + r / 100), t))
print(a)

5
8
9
9.995023135522166

#### Q79. Write a Python program to check if a number is prime or not.

In [14]:
num = 407

if num > 1:
   
   for i in range(2,num):
       if (num % i) == 0:
           print(num,"is not a prime number")
           
           break
   else:
       print(num,"is a prime number")

else:
   print(num,"is not a prime number")

407 is not a prime number

#### Q80. Write a Python program to check Armstrong Number.

In [15]:
number = 371
num = number
digit, sum = 0, 0
length = len(str(num))
for i in range(length):
  digit = int(num%10)
  num = num/10
  sum += pow(digit,length)
if sum==number:
  print("Armstrong")
else:
  print("Not Armstrong")

Armstrong

#### Q81. Write a Python program to find the n-th Fibonacci Number.

In [16]:
def Fibonacci(n):
    if n<= 0:
        print("Incorrect input")
   
    elif n == 1:
        return 0
    
    elif n == 2:
        return 1
    else:
        return Fibonacci(n-1)+Fibonacci(n-2)

print(Fibonacci(10))

34

#### Q82. Write a Python program to interchange the first and last element in a list.

In [17]:
def swapList(newList):
    size = len(newList)

    temp = newList[0]
    newList[0] = newList[size - 1]
    newList[size - 1] = temp
     
    return newList

newList = [12, 35, 9, 56, 24]
 
print(swapList(newList))

[24, 35, 9, 56, 12]

#### Q83. Write a Python program to swap two elements in a list.

In [18]:
def swapPositions(list, pos1, pos2):
     
    list[pos1], list[pos2] = list[pos2], list[pos1]
    return list 
List = [23, 65, 19, 90]
pos1, pos2  = 1, 3
 
print(swapPositions(List, pos1-1, pos2-1))

[19, 65, 23, 90]

#### Q84. Write a Python program to find N largest element from a list.

In [19]:
l = [1000,298,3579,100,200,-45,900]
n = 4
 
l.sort()
print(l[-n:])

[298, 900, 1000, 3579]

#### Q85. Write a Python program to find cumulative sum of a list.

In [20]:
list=[10,20,30,40,50]
new_list=[]
j=0
for i in range(0,len(list)):
    j+=list[i]
    new_list.append(j)
     
print(new_list)

[10, 30, 60, 100, 150]

#### Q86. Write a Python program to check if a string is palindrome or not.

In [21]:
def isPalindrome(s):
    return s == s[::-1]

s = "malayalam"
ans = isPalindrome(s)
 
if ans:
    print("Yes")
else:
    print("No")

Yes

#### Q87. Write a Python program to remove i'th element from a string.

In [23]:
test_str = "sukkeshkumar"
new_str = ""
 
for i in range(len(test_str)):
    if i != 2:
        new_str = new_str + test_str[i]

print ("The string after removal of i'th character : " + new_str)

The string after removal of i'th character : sukeshkumar

#### Q88. Write a Python program to check if a substring is present in a given string.

In [24]:
MyString1 = "A dance in need is a dance indeed"
 
if "need" in MyString1:
    print("Yes! it is present in the string")
else:
    print("No! it is not present")

Yes! it is present in the string

#### Q89. Write a Python program to find words which are greater than given length k.

In [25]:
sentence = "i love my india"
length = 4
print([word for word in sentence.split() if len(word) > length])

['india']

#### Q90. Write a Python program to extract unquire dictionary values.

In [1]:
test_dict = {'gfg' : [5, 6, 7, 8],
            'is' : [10, 11, 7, 5],
            'best' : [6, 12, 10, 8],
            'for' : [1, 2, 5]}

In [3]:
x=[]
for i in test_dict.keys():
    x.extend(test_dict[i])
x=list(set(x))
x.sort()
print("The unique values : " + str(x))

The unique values : [1, 2, 5, 6, 7, 8, 10, 11, 12]

#### Q91. Write a Python program to merge two dictionary.

In [5]:
def Merge(dict1, dict2):
    return(dict2.update(dict1))

dict1 = {'a': 10, 'b': 8}
dict2 = {'d': 6, 'c': 4}

print(dict2)

{'d': 6, 'c': 4}

#### Q92. Write a Python program to convert a list of tuples into dictionary.

In [7]:
def Convert(tup, di):
    di = dict(tup)
    return di

tups = [('Sachin', 10), ('MSD', 7), ('Kohli', 18), ('Rohit', 45)]
dictionary = {}
print (Convert(tups, dictionary))

{'Sachin': 10, 'MSD': 7, 'Kohli': 18, 'Rohit': 45}

#### Q93. Write a Python program to create a list of tuples from given list having number and its cube in each tuple.

In [9]:
list1 = [9, 5, 6]

res = [(val, val**3) for val in list1]

print(res)

[(9, 729), (5, 125), (6, 216)]

In [11]:
from itertools import chain, product
test_tuple1 =  (7, 2)
test_tuple2 = (7, 8)
print("The original tuple 1 : " + str(test_tuple1))
print("The original tuple 2 : " + str(test_tuple2))
res = list(chain(product(test_tuple1, test_tuple2), product(test_tuple2, test_tuple1)))
print("The filtered tuple : " + str(res))

The original tuple 1 : (7, 2)
The original tuple 2 : (7, 8)
The filtered tuple : [(7, 7), (7, 8), (2, 7), (2, 8), (7, 7), (7, 2), (8, 7), (8, 2)]

#### Q96. Write a python program to print below pattern.

In [17]:
n = int(input("Enter Number:"))

for i in range(n):
   for j in range(n-i-1):
      # printing space
      print(" ", end=" ")

   for j in range(i+1):
      # printing star
      print("* ",end="")
   print()

Enter Number:5
        *
      * *
    * * *
  * * * *
* * * * *

In [18]:
num = int(input("Enter Number:"))

for i in range(0, num):
    for j in range(0, i+1):
        print("*", end="")
    print()

Enter Number:5
*
**
***
****
*****

In [19]:
def pattern(n):
   for i in range(n-1):
      for j in range(i+1):
         print(" ",end=" ")

      for k in range(n-i-1):
         print("* ",end="")
      print()
 

n = int(input('Enter the number of rows: '))

# calling function
pattern(n)

Enter the number of rows: 5
  * * * *
    * * *
      * *
        *

#### Q98. Write a python program to print below pattern.

In [20]:
num = int(input("Enter the Number: "))

for i in range(0, num):
    for j in range(0, num-i-1):
        print(" ", end="")
    for j in range(0, i*2+1):
        print("*", end="")
    print()

Enter the Number: 5
    *
   ***
  *****
 *******
*********

#### Q99. Write a python program to print below pattern.

In [24]:
for i in range(0, 5):
    num = 1
    for j in range(0, i+1):
        print(num, end=" ")
        num = num + 1
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

#### Q100. Write a python program to print below pattern.

In [27]:

for i in range(0, 5):
    v=65
    for j in range(0, i+1):
        num=chr(v)
        print(num, end=" ")
        v = v+ 1
    print()

A
A B
A B C
A B C D
A B C D E

In [25]:
value = 65
for i in range(0, 5):
    for j in range(0, i+1):
        ch = chr(value)
        print(ch, end=" ")
        value = value + 1
    print()

A
B C
D E F
G H I J
K L M N O